[core]
    editor = nvim
    pager = {{ .pager.command }}
    excludesfiles = ./ignore_global
    autocrlf = input

[help]
    autocorrect = 1

[user]
    email = ong.kongiok@gmail.com
    name = kongiok
