#!/bin/zsh

{{ if ne .chezmoi.os "darwin" }}
exit 0
{{ end }}

printf "brew pkg | setting up mac os.\n"

# ----- Dock ----- #
defaults write com.apple.dock orientation -string "right"
defaults write com.apple.dock autohide -bool true
defaults write com.apple.dock tilesize -int 48
defaults write com.apple.dock largesize -int 84
defaults write com.apple.dock persistent-apps -array
defaults write com.apple.dock magnification -bool true

# ----- Finder ----- #
defaults write com.apple.finder AppleShowAllFiles -bool true
defaults write com.apple.finder AppleShowAllExtensions -bool true

# ----- Stage ----- #
defaults write com.apple.WindowManager GloballyEnabled -bool true

# ----- Appearance ----- #
defaults write -g AppleInterfaceStyleSwitchesAutomatically -bool true
defaults write com.apple.controlcenter BatteryShowPercentage -bool true
