{{- $pkgs := .packages.darwin }}

# Brew packages
{{- range $pkg := $pkgs.brews }}
brew "{{ $pkg }}"
{{- end }}

# Cask packages
{{- range $cask := $pkgs.casks }}
cask "{{ $cask }}"
{{- end }}

# Mac App Store packages
{{- range $app := $pkgs.mas }}
mas "{{ $app.name }}", id: {{ $app.id }}
{{- end }}
